@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Roboto');

* {
    margin: 0;
    padding: 0;
    /* background-color: #000033; */
    /* color: #000033; */
}

::placeholder {
    color: #888888;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #888888;
}

::-ms-input-placeholder {
    color: #888888;
}

.home {
    max-width: 1440px;
    height: 1874px;
    display: flex;
    justify-content: center;
    background-color: #000033;
}

.nav {
    height: 106px;
    border-bottom: 1px solid #888888;
    background-color: #000033;
}

.search-container {
    margin-top: 345px;
}

.search {
    width: 1077px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchBar {
    position: relative;
    width: 1011px;
    height: 56px;
    display: flex;
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #000;
    padding-left: 16px;

}

.search button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 145px;
    height: 46px;
    background-color: #FA4616;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Barlow Condensed';
}

.search button:hover {
    background-color: #FA4616;
}

.filterBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 54px;
    height: 54px;
    background-color: #000033;
    color: #fff;
    font-size: 21px;
    border: solid 2px #FA4616;
    border-radius: 8px;
}

.filterBtn:hover {
    cursor: pointer;
    color: #FA4616;
}

.filterModal {
    position: fixed;
    width: 375px;
    /* height: 838px; */
    right: 181px;
    top: 500px;
    background-color: #fff;
}